* {
    margin: 0%;
    padding: 0%;
}


body {
    font-family: "Roboto", sans-serif;
    background-color: black;
    color: white;


}


nav ul {
    display: flex;
    text-align: center;
}

nav ul li {
    list-style: none;

}

nav ul li a {
    text-decoration: none;
    margin-inline: 20px;
    font-size: 20px;
    color: white;
}

nav {
    width: 1308px;
    height: 40px;
    /* margin-top: 0; */
    display: flex;
    /* position: fixed; */
    background-color: black;
    color: white;
    justify-content:space-between;
    padding: 20px;
    box-shadow: 0px 1px 5px 0px rgb(252, 252, 252);
}

#navbar {
    display: none;
}

/* nav icon css */

#verticalnav {
    width: 150px;
    height: 250px;
    background-color: white;
    position: absolute;
    margin-left: 800px;
    margin-top: -350px;
    display: none;

}

#verticalnav ul {
    text-align: center;
}

#verticalnav ul li {
    list-style: none;

}

#verticalnav ul li a {
    margin-top: 10px;
    float: left;
    width: 150px;
    height: 40px;
    text-decoration: none;
    font-size: 20px;
    color: black;
}

#verticalnav ul li .active {
    color: rgb(255, 111, 0);
    cursor: pointer;


}


nav ul li a:hover,
ul li .active {
    color: rgb(255, 111, 0);
    cursor: pointer;


}

nav ul li .active {
    color: rgb(255, 111, 0);
}

.logo h1 {
    font-size: 36px;
    color: rgb(255, 106, 0);
    margin-top: -2px;

}

.icon {
    display: flex;
    /* margin-: -400px; */
}

.icon i {
    font-size: 22px;
    margin-inline: 18px;
    background-color: #fff;
    color: black;
    padding: 9px;
    border-radius: 2px;

}

.icon i:hover {
    color: rgb(255, 98, 0);
    cursor: pointer;

}

.icon input {
    width: 30px;
    cursor: pointer;
    padding: 11px;
    height: 19px;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 2px;


}

#inp {
    transition-duration: 1s;


}

#inp:hover {
    width: 200px;
}


.input img {
    margin-left: -30px;
    margin-top: 14px;
    width: 15px;
    height: 15px;
    color: #f6f5f5;
    position: absolute;
}


/* main  */

.main {
    display: flex;
    justify-content: space-between;

}

.main img {
    width: 33%;
    margin-top: 100px;
    margin-right: 70px;
}


.main .text {
    width: 500px;
    margin-top: 100px;
    margin-left: 70px;
}

.text h1 {
    font-size: 66px;
}

.text p {
    color: #f6f5f5;
    margin-top: 22px;
    font-size: 15px;

}

.text button {
    margin-top: 24px;
    border: none;
    outline: none;
    background-color: rgb(255, 119, 0);
    color: white;
    border-radius: 2px;
    font-size: 22px;
    width: 160px;
    height: 40px;


}

.crd {
    display: flex;
    color: black;
    margin-left: 180px;
    margin-top: 40px;


}

.crd .card {
    width: 270px;
    background-color: #fff;
    border-radius: 4px;
    padding: 11px;
    color: black;
    margin-inline: 15px;
}

.card img {
    width: 100%;
    height: 200px;

}

.card h2 {
    margin-top: 12px;

}

.card p {
    margin-top: 12px;
    text-align: justify;
    font-size: 15px;
    font-weight: 550px;

}

.card button {
    margin-top: 24px;
    border: none;
    outline: none;
    background-color: rgb(255, 119, 0);
    color: white;
    border-radius: 2px;
    font-size: 22px;
    width: 140px;
    height: 40px;
    margin-left: 5px;
    transition: all ease;
}

.card button:hover {
    background-color: #45a049;
    scale: 0.9;
}


.crd .card:hover {
    z-index: 1;
    background-color: rgb(240, 169, 37);
}

/* blog css start */

.blog {
    width: 300px;
    background-color: #fff;
    border-radius: 4px;
    padding: 11px;
    color: black;
    margin-inline: 15px;
    margin-top: 40px;
    height: 350px;
    transform: 1s;
}

.blog:hover {
    transition: all ease;
    scale: 0.9;
    background-color: rgb(240, 169, 37);
}

.blog img {
    width: 100%;
    height: 200px;
}

.blog h2 {
    margin-top: 10px;
}

.blog p {
    margin-top: 12px;
    text-align: justify;
    font-size: 15px;
    font-weight: 550px;
}

.blog a {
    top: 32px;
    width: 140px;
    padding: 10px;
    background-color: rgb(255, 106, 0);
    color: white;
    font-size: 20px;
    border-radius: 2px;
}


.blog a:hover {
    background-color: #45a049;

}


/* blogs css end */

/* review css */

.review {
    position: relative;
    overflow: hidden;
    margin: auto;
    width: 1000px;
    height: 500px;
    margin-top: 40px;
}


.customer {
    position: absolute;
    width: 100%;
    height: 350px;
    background-color: #fff;
    color: black;
    text-align: center;
    padding: 11px;
    transition: all 1s ease;

}

.customer i {
    font-size: 22px;
    color: rgb(255, 132, 0);
    margin-top: 25px;
}

.customer p {
    margin-top: 25px;
    font-size: 20px;
}

.customer img {
    width: 33%;
    height: 200px;
    border-radius: 50%;
    margin-top: 20px;

}


.head h1 {
    text-align: center;
    font-size: 44px;
    padding: 90px;
    margin-bottom: -80px;

}

.head span {
    color: rgb(255, 119, 0);
}


/* contact css */

.connectus {
    display: flex;
    margin-left: 250px;
    width: 900px;
    margin-top: 30px;
    box-shadow: 3px 3px 5px rgb(116, 115, 114);
    border-radius: 10px;

}

.imgcontact {

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* CSS for the contact form */


.fixform {
    margin-top: 12px;
    margin-left: 50px;
}

.form-group {
    margin-bottom: 20px;
    justify-content: space-between;
}

label {
    display: block;
    font-weight: bold;
    margin-left: 20px;
}

.subip {
    width: 350px;
    font-size: 18px;
    height: 30px;
    padding: 5px;
    margin-left: 20px;
    border: none;
    background-color: black;
    box-shadow: 3px 3px 5px rgb(116, 115, 114);
    color: white;
    cursor: pointer;
}

.msgip {
    width: 350px;
    font-size: 18px;
    height: 70px;
    padding: 5px;
    margin-left: 20px;
    border: none;
    background-color: black;
    box-shadow: 3px 3px 5px rgb(116, 115, 114);
    color: white;
    cursor: pointer;

}

.submitbtn {
    margin-top: 1px;
    border: none;
    outline: none;
    background-color: rgb(255, 119, 0);
    color: white;
    border-radius: 2px;
    font-size: 22px;
    width: 160px;
    height: 40px;
    margin-left: 20px;
    transition: all ease;

}

.submitbtn:hover {
    background-color: #45a049;
    scale: 0.9;
}

/* footer css */

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: white;
    padding: 55px;
    color: black;
    margin-top: 77px;

}

.txt p {
    margin-top: 12px;
}


/* log in css */

#loginid {
    width: 200px;
    padding: 22px;
    background-color: #fff;
    text-align: center;
    border-radius: 4px;
    margin-top: 10px;
    position: absolute;
    margin-left: 80%;
    display: none;
}

#loginid h2 {
    color: black;

}

#loginid input {
    border: none;
    border-bottom: 2px solid black;
    width: 160px;
    font-size: 18px;
    padding: 8px;
    margin-top: 13px;
}

#loginid button {
    width: 140px;
    height: 35px;
    border: none;
    outline: none;
    background-color: rgb(255, 111, 0);
    color: white;
    border-radius: 2px;
    font-size: 18px;
    margin-top: 22px;
    transition: all ease;
}

#loginid button:hover {
    background-color: #45a049;
    scale: 0.9;
}

.copyright {
    background-color: black;
    width: 100%;
    height: 50px;
    text-align: center;
    margin-top: 20px;
}


/* responsive media  */

/* @media only screen and (max-width:799px) { */
@media (max-width:799px) {
    .main img {
        width: 500px;

    }

    .main .text {
        margin-right:200px;
    }
         .main .text h1{
            width: 500px;
         }

    .crd {
        margin-left: 140px;
    }

    .blogcrd {
        margin-left: 140px;
    }

    .review {
        margin-left: 140px;
    }

    #review {
        margin-right: -700px;
    }

    .connectus {
        margin-left: 140px;
    }

    #contact {
        margin-left: 400px;
    }

    .footer {
        margin-left: 300px;
        width: 100%;
    }

    #loginid {
        margin-left: 1100px;
    }
    .copyright{
        margin-left: 350px;
    }


    /* order page media */
 .newdiv{
      margin-right: -800px;
}
    


}


/* @media only screen and (max-width:477px) { */
@media  (max-width:477px) {

    #navbar {
        display: block;
    }

    nav ul {
        display: none;
    }

    .icon .input{
        display: none;
    }

    .main {
        display: block;
        margin-left: 70px;
    }
    .main .text{
        margin-left: 100px;
    }

    .text h1 {
        font-size: 70px;
        width: 500px;
      
    }

    .text p {
        margin-top: 20px;
        font-size: 40px;
        width: 1000px;
    }

    .main img {
        width: 600px;
        height: 400px;
        margin-left: 160px;
        margin-top: 100px;
    }

    .head h1 {
        font-size: 100px;
        /* margin-left: 20px; */
        margin-right: -220px;
    }

    .head {
        margin-left: 100px;
        margin: 0;
    }

    .crd {
        display: block;
        /* text-align: center; */

    }

    .crd .card {
        width: 700px;
        height: 880px;
        margin-top: 40px;
        margin-left: 90px;
    }

    .card img {

        height: 500px;

    }

    .card h2 {
        margin-top: 80px;
        font-size: 60px;

    }

    .card p {
        margin-top: 30px;
        font-size: 30px;
        font-weight: 550px;

    }

    .card button {
        margin-top: 30px;

        font-size: 40px;
        width: 240px;
        height: 80px;
        margin-left: 5px;
    }

    /*  for blogs */

    .blogcrd {
        margin-left: 75px;
    }

    .crd .blog {
        width: 700px;
        height: 940px;
        margin-top: 100px;
        margin-left: 90px;
    }

    .blog img {

        height: 500px;

    }

    .blog h2 {
        margin-top: 80px;
        font-size: 60px;

    }

    .blog p {
        margin-top: 30px;
        font-size: 30px;
        font-weight: 550px;
        margin-bottom: 20px;

    }

    .blog a {

        font-size: 50px;
        width: 600px;
        height: 300px;
        margin-left: 5px;
    }

    #review {
        margin-left: 80px;
    }

    .customer {
        height: 600px;
    }

    .customer i {
        font-size: 50px;
    }

    .customer p {
        font-size: 40px;
    }


    #contact h1 {
        text-align: center;
        font-size: 70px;
    }


    #contact h1 span {


        margin-left: 110px;
    }

    .imgcontact {
        display: none;
    }

    .connectus {
        width: 700px;
        box-shadow: none;
    }


    /*  */

    .fixform {
        margin-top: 20px;
    }

    .form-group {
        margin-bottom: 50px;
    }


    .subip {
        width: 750px;
        height: 100px;

        font-size: 50px;
    }

    .msgip {
        width: 750px;
        height: 150px;
        padding: 5px;
        margin-left: 20px;
        font-size: 50px;


    }

    .submitbtn {
        margin-top: 1px;

        border-radius: 2px;
        font-size: 50px;
        width: 300px;
        height: 80px;
        margin-left: 20px;
        transition: all ease;


    }

    .footer {
        width: 600px;
        font-size: 70px;
        margin-left: 250px;
        text-align: center;
    }

    .txt {
        margin-top: 100px;
    }

    .copyright p {
        font-size: 40px;
        margin-top: 50px;
        text-align: center;
        width: 700px;

    }

    #loginid {
        margin-left: 850px;
        margin-top: 20px;
        width: 400px;
        height: 350px;

    }


    #loginid h2 {
        margin-top: 30px;
        color: black;
        font-size: 40px;

    }

    #loginid input {
        border-bottom: 4px solid black;
        width: 300px;
        font-size: 30px;
        margin-top: 30px;
    }

    #loginid button {
        width: 200px;
        height: 65px;
        font-size: 25px;

    }

    .logo h1 {
        font-size: 70px;
    }

    nav {
        height: 80px;
    }

    .icon i {
        font-size: 40px;
        /* width: 50px; */
        margin-inline: 60px;
        padding: 19px;

    }


    .icon input {
        width: 70px;
        height: 50px;
        font-size: 40px;


    }


    #verticalnav {
        margin-top: -1050px;
        margin-left: 1000px;
        width: 300px;
        height: 450px;

    }


    #verticalnav ul li a {
        width: 250px;
        height: 80px;
        font-size: 40px;
    }


}

/* order page css */

.newdiv{
    width: 600px;
    height: 600px;
    align-items: center;
    border: 2px solid wheat;
    margin-left: 400px;
    margin-top: 10px;
    border-radius: 10px;

}
.newdiv img{
    width: 600px;
    height: 300px;
}

.newdiv .orderdeatails{
    margin-left: 50px;
    /* margin-top: 200px; */
    margin-inline: 20px;
}
.newdiv .orderdeatails h1{
    font-weight: 500;
}
.newdiv .orderdeatails h3 {
    font-weight: 500;
    margin-top: 10px;
}
.newdiv .orderdeatails h4 {
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 20px;
}
.newdiv .orderdeatails p {
    /* font-weight: 500; */
    margin-top: 5px;
}

.newdiv .orderdeatails button {

        margin-top: 24px;
        border: none;
        outline: none;
        background-color: rgb(255, 119, 0);
        color: white;
        border-radius: 2px;
        font-size: 22px;
        width: 160px;
        height: 40px;


    }
   .newdiv .orderdeatails button:hover{
    background-color: #45a049;
        scale: 0.9;
   }
        
    .newdiv .orderdeatails button a{
        text-decoration: none;
        color: white;
    }



